* {
  font-size: 16px;
}

body {
  margin-right: 15px;
  margin-left: 15px;
}

.box-sm {
  height: 165px;
  width: 480px;
}

.box-md {
  height: 240px;
  width: 580px;
}

.box-lg{
  height: 400px;
  width: 880px;
}

.border{
  border: 8px solid black;
  border-radius: 5px;
}

#yellow {
  background-color: yellow;
  margin-left: 3.25%;
  padding-top: 4%;
}

#red {
  background-color: red;
  margin: auto;
  margin-top: 20px;
  padding-top: 40px;
  padding-bottom: 0px
}

#blue{
  background-color: cyan;
  margin: auto;
  margin-top: 15px;
}
